<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
  verbose="true"
  syntaxCheck="true"
	>
	<testsuites>
		<testsuite name="WP Job Manager - Claim Listing Test Suite">
			<directory prefix="test-" suffix=".php">./tests/unit-tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
